body {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-image: url(img/bg/PNG/game_background_3/game_background_3.png);
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  height: 300px;
}

canvas {
  background-color: black;
  z-index: 1;
}

.dNone {
  display: none !important;
}

.gamePlay {
  position: relative;
}

.menu {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 720px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sound img {
  width: 36px;
  height: auto;
}

.startGameBg {
  z-index: 2;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
}

.btnSection {
  display: flex;
  gap: 10px;
}

.smallBtn {
  background-color: rgba(134, 153, 131, 0.9);
}

.bigBtn {
  background-color: rgba(134, 153, 131, 0.9);
}
